
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
	
	#home{
		background-image: url("../../image/bacgroundImage.jpg");
		background-size: cover;
	
	
	} 

.aboutMainWrapper {
	margin-top: 10px;
	
	 
}
.abouttitle{
	color:#4B456F ;
	
}
.textColor {
	color: #656565;
	line-height: 20px;
}
.aboutColor {
	color: #fe8402;
}
.aboutButton {
	background-color: #fe8402;
	padding: 13px 30px;
	margin-top: 30px;
	border-radius: 5px;
	border: none;
	color: white;
	font-size: 14px;
}

.textColor > p{
    font-size: 14px;
}
.BgImage{
	margin-bottom: -55px;
	
}
/* media */
@media(min-width:668px){
.aboutMainWrapper {
	margin-top: 100px;
	
}
}