.tocenter{
  padding-left:50px ;
  font-size: 18px;
}
.topurpel{
  /* background-color:#35355E ; */
}
.askTitle{
  font-size: 24px;
}
.subAsk{
  font-size: 16px;
}

.purples{
  color:#35355E
}

.mt0p{
 margin-top: 140px;
}
.Alert{
  color: pink;
  text-align: center;
}
@media (min-width:680px){
  .tocenter{
  padding-left:250px ;
  /* text-align: center; */
}
.askTitle{
  font-size:x-large large;
  margin-bottom: 15px;
}
.subAsk{
  font-size:medium ;
  margin-bottom: 20px;
}
}